---
import Ubication from "../atoms/Ubication";
import Description from "../atoms/Description";
import TagContainer from "../molecules/TagContainer.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Github from "../atoms/icons/Github";
import Link from "../atoms/icons/Link";
const {
  jobTitle,
  description,
  image,
  tags,
  companyName,
  ubication,
  github,
  projects,
  dateStart,
  dateEnd,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <div>
    <p class="time-date">
      <span
        >{
          `${t("month")[new Date(dateStart).getMonth()]} ${new Date(dateStart).getFullYear()}`
        }</span
      >
      {
        dateEnd
          ? ` - ${t("month")[new Date(dateEnd).getMonth()]} ${new Date(dateEnd).getFullYear()}`
          : ""
      }
    </p>
    <div class="time-item">
      <div
        class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2.5"
      >
        <img
          src={`/${image}`}
          class="flex-grow-0 flex-shrink-0 w-fit h-48 rounded-tl-[17px] rounded-tr-[17px] object-cover"
          alt={companyName}
        />
      </div>
      <div class="flex flex-col justify-center items-center gap-3 px-4">
        <div class="flex flex-row justify-between items-start relative">
          <div
            class="flex flex-col justify-start items-start relative gap-[5px]"
          >
            <p class="text-2xl font-bold text-left text-pink-200">
              {jobTitle}
            </p>
            <p
              class="left-[4.04px] top-[37px] text-base text-left text-pink-300"
            >
              {companyName}
            </p>
          </div>
          <div class="flex justify-center items-center gap-[3px]">
            <Ubication text={ubication} />
          </div>
        </div>
        <Description text={description} client:visible />
      </div>
      <TagContainer items={tags} />
      <div>
        <div class="flex justify-end items-end gap-2 px-4 pb-4 flex-wrap">
          {
            github &&
              github.map((repo) => {
                return (
                  <a
                    class="button"
                    href={repo.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Go to github"
                  >
                    <Github client:visible />
                    {!!repo.text ? repo.text : "Repo"}
                  </a>
                );
              })
          }
          {
            projects &&
              projects.map((project) => {
                return (
                  <a
                    class="button"
                    href={project.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Go to link"
                  >
                    <Link client:visible />
                    {!!project.text ? project.text : t("seeHere")}
                  </a>
                );
              })
          }
        </div>
      </div>
    </div>
  </div>
</div>
